<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

       <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
              <property name="sessionFactory" ref="sessionFactory"/>
       </bean>



       <tx:advice id="transactionAdvice" transaction-manager="transactionManager">
              <tx:attributes>
                     <tx:method name="delete*" propagation="REQUIRED" rollback-for="java.lang.Exception"/>
                     <tx:method name="get*" read-only="true"/>
                     <tx:method name="find*" read-only="true"/>
                     <tx:method name="save*" propagation="REQUIRED" rollback-for="java.lang.Exception"/>
                     <tx:method name="update*" propagation="REQUIRED" rollback-for="java.lang.Exception"/>
              </tx:attributes>
       </tx:advice>

       <aop:config>
              <aop:pointcut id="userServicePointCut"
                            expression="execution(* org.wang.sms.service.*.*(..))" />
              <aop:advisor advice-ref="transactionAdvice" pointcut-ref="userServicePointCut" />
       </aop:config>



</beans>